.header {
  background-color: transparent; /* Changed from #fffbee */
  padding: 20px 10px;
  cursor: pointer;
  font-size: 3em; /* Matched to DayAccordion */
  position: relative;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  transition: transform 0.3s;
  font-size: 1em; /* Inherit size from header */
}

.iconOpen {
  transform: rotate(-180deg);
}

.content {
  padding: 10px;
  background-color: #fffbee;
}

/* --- Mobile Styles --- */
@media (max-width: 768px) {
  .header {
    font-size: 2em; /* Reduce font size on mobile */
  }
}