.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #1A1A1A; /* Darkened color */
  color: white;
}

.nav {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.navLink {
  text-decoration: none;
  color: white;
}

.navLink:hover {
  text-decoration: underline;
}

.donateButton {
  background-color: #fdf8e1;
  color: #272626;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
}