.header {
  background-color: transparent;
  padding: 20px 10px;
  cursor: pointer;
  position: relative;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 3em;
  font-weight: normal;
}

.icon {
  font-size: 3em;
  transition: transform 0.3s;
}

.iconOpen {
  transform: rotate(-180deg);
}

.content {
  padding: 10px;
  background-color: #fffbee;
}

/* --- Mobile Styles --- */
@media (max-width: 768px) {
  .title, .icon {
    font-size: 2em; /* Reduce font size on mobile */
  }
}